.isOnline {
  background-color: #fff;
  width: 160px;
  display: flex;
  align-items: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 10px;
}

.span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
}

.Online {
  composes: span;
  background-color: green;
}

.Offline {
  composes: span;
  background-color: red;
}

.name {
  font-size: 22px;
  font-family: sans-serif;
  color: black;
  margin-left: 10px;
}
